nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.quote {
    display: block;
    margin-bottom: 20px;
}

.cash  {
    float: right;
    display: block;
}

.table {
    margin-top: 70px;
}

.value_1 {
    background-color: green;
}

.value_2 {
    background-color: blue;
}

.profit_1 {
    color: green;
}

.profit_2 {
    color: red;
}

.profit_3 {
    color: black;
}