body {
    text-align: center;
    padding: 0 200px 0 200px;
}

.info {
    margin-top:30px;
    padding-bottom: 15px;
    border-bottom: thin solid black;
}

.info h3 {
    display: inline;
    margin-right: 30px;
}

#main {
    min-height: calc(100vh - 320px);
}

#main h4 {
    margin-top: 100px;
}

#main button {
    margin-top: 100px;
}

#main img {
    width: 100%;
    margin-top: 30px;
}

footer {
    margin-top: 100px;
    padding-top: 15px;
    border-top: thin solid black;
}